
/* ------------------------ image background ------------------------ */
.image-bg {
	overflow: hidden;
	background-size: cover;
	background-image: url("../img/bb/entrance1_bg.jpg");
	background-position: center 16%;
	position: relative;
}

.image-bg-main {
	overflow: hidden;
	background-size: cover;
	background-image: url("../img/bb/swakop.jpg");
	background-position: center 16%;
	position: relative;
}

/* ------------------------ nav bar ------------------------ */
.navbar-header i {
	float: left;
	margin-right: 10px;
	font-size: 24px;
	color: #FAC928;
}
.navbar-brand {
	line-height: 26px;
	padding: 12px 15px;
}
.navbar-inverse {
	background-color: #2AAFC3;
	border-color: #2AAFC3;
}

.mymenu {
	position: absolute;
	z-index: 100;
	top: 0px;
	width: 100%;
	background:transparent;
	border-color: transparent;
	padding-top: 20px;
	-webkit-transition: background 0.3s ease-out;
	transition: background 0.3s ease-out;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand	{
	color: #FFF;
}
.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: #FAC928;
	background-color: transparent;
}

h4.media-heading {
	font-weight: 700;
}
.media>.pull-left {
	margin-right: 15px;
}

.navbar-inverse .navbar-nav>li>a.active,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
	color: #FAC928;
	background-color: transparent;
}